extends ../layouts/page-layout

block title
    title West Central Community Center

block content
    include ../components/header/header
    include ../components/image-slider/image-slider
    include ../components/where-we-are/where-we-are
    include ../components/who-we-are/who-we-are
    include ../components/footer/footer