@import '../../resources/sass/_fonts.scss';
@import '../../resources/sass/_colors.scss';
.nav-menu{
    display: inline-block;

    .nav-menu-main{ //main bar with about, giving, programs, etc...
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-family: $open-sans;
        color: $white;


        .nav-menu-main-li{
            float: left;

            &:hover{   // telling the main menu tab what to do when mouse hovers
                
                >a{
                    font-weight:700; 
                    color: $white;
                }

                .nav-menu-main-child li{ //telling the main menu child what to do what the tab is hovered over
                    display: block;
                    background-color: $blue;
                    padding: 0;
                    color: $white;

                    &:hover {
                        font-weight: 700;
                    }

                    &:first-child{
                        border-top: 3px solid $gold;
                    }
                   
                   &:after{
                       content: " ";
                       display:block;
                       clear: both;
                   }
                   a{
                       float: left;
                       color: $white;
                   }
                    
                }
            }

            .nav-menu-main-child{
                position: absolute;
                padding: 0;
                
                li{
                    display: none;
                    text-align: left;
                    z-index: 1000;
                }
            }
             
            a {
                display: block;
                color: $white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none; 
                text-transform: lowercase;
            }
        }
    }


}