nav(class="nav-menu")
    div(class="nav-menu-dropdown")
        ul(class="nav-menu-main")

            li(class="nav-menu-main-li")
                a(href="#about") About
                ul(class="nav-menu-main-child")
                    li
                        a(href="#") Mission
                    li
                        a(href="#") History
                    li  
                        a(href="#") Board of Directors
                    li 
                        a(href="#") Staff
                    
            li(class="nav-menu-main-li")
                a(href="#programs") Programs
                ul(class="nav-menu-main-child")
                    li
                        a(href="#") WIC
                    li  
                        a(href="#") Youth Development & Recreation
                    li  
                        a(href="#") Supportive Servives
                    li  
                        a(href="#") Head Start/Early Head Start

            li(class="nav-menu-main-li")
                a(href="#resources") Resources 
                ul(class="nav-menu-main-child")
                    li
                        a(href="#") Clubs & Classes
                    li  
                        a(href="#") Unify Community Health Clinic
                    li  
                        a(href="#") Room Rentals        
           
            li(class="nav-menu-main-li")
                a(href="#giving") Giving
                ul(class="nav-menu-main-child")
                    li
                        a(href="#") Donations
                    li  
                        a(href="#") Volunteer Opportunities    
           
            li(class="nav-menu-main-li")
                a(href="#community") Community 
                ul(class="nav-menu-main-child")
                    li
                        a(href="#") Key Partners
                    li  
                        a(href="#") Events/Calendar   
           
            li(class="nav-menu-main-li")
                a(href="#contact") Contact  
                ul(class="nav-menu-main-child")   
                    li
                        a(href="#") Newsletter

        
