@import '../../resources/sass/_colors.scss';
@import '../../resources/sass/_fonts.scss';

footer{
    height: 3em;
    font-family: $open-sans;
    background-color: $white;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
}