@import './_fonts.scss';

body{
    margin: 0;
    padding: 0;
}

.title-heading{
    font-family: $raleway;
    margin: 0 0 1em;
    font-size: 3em;
    font-weight: 300;
    letter-spacing: 0.3em;
    text-transform: lowercase;
}

.section{
    padding: 4em 0;
}