include ../../util/include/include-script
+include-script('/resources/js/header.js')
header
    div(class="logo-container" style="background-image: url(./resources/images/main_logo.png)")
    include ../nav-menu/nav-menu