@import '../../resources/sass/_colors.scss';

header{
    position: fixed;
    left: 0; right: 0;
    z-index: 5000;
    height: 3em;

    .header-background{
        transition: 1s ease-in-out;

        &.header-background-active{
            height: 100%;
            width: 100%;
            background-color: $blue;
            opacity: 0.8;
        }
    }
    

    .nav-menu{
        display: inline-block;
        margin-right: 1em;
        position: absolute;
        top: 0; bottom: 0; right: 0;
        margin: auto 1em;
    }
}