div(class="image-slider")
    a(class="image-slider-image" style="background-image: url('../../resources/images/IMG_9730.JPG')")
    a(class="image-slider-image" style="background-image: url('../../resources/images/IMG_9425.JPG')")