include ../../util/include/include-script
+include-script('/resources/js/image-slider.js')
div(class="image-slider parallax-container")
    div(class="image-slider-slogan")
        div(class="logo-container" style="background-image: url('./resources/images/main_logo.png')")
        h1(class="image-slider-title") West Central Community Center
        h6(class="image-slider-tag") Turning uncertainty into certainty
    div(class="image-slider-content parallax-element")
        div(class="image-slider-images")
            each image in imageSlider.images
                a(class="image-slider-image vignette" style="background-image: url('"+image.src+"')")

        div(class="image-slider-buttons")
            a(href="#" class="image-slider-button image-slider-button-left" style="background-image: url('../../resources/images/left-arrow.png')")
            a(href="#" class="image-slider-button image-slider-button-right" style="background-image: url('../../resources/images/right-arrow.png')")

        div(class="image-slider-indexes")
            -let index = 0
            each image in imageSlider.images
                a(href="#" class="image-slider-index" imageIndex=index)
                -index++