include ../../util/include/include-script
+include-script('/resources/js/picture-btns.js')
div(class="picBtns")
    div(class="btn" id="programs") 
        div(class="lb") Programs
    div(class="btn" id="calendar") 
        div(class="lb") Calendar 
    div(class="btn" id="giving") 
        div(class="lb") Giving
    div(class="btn" id="about") 
        div(class="lb") About
    div(class="btn" id="resources") 
        div(class="lb") Resources